
.date-time{
    display: flex;
}
.date-time-weather > div{
    background-color: #19191a;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
}

.date-time-weather{
    color: aqua;
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    top: 1rem;
    width: 100%;
}