.greetings-info-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: aqua;
    text-align: center;
    bottom: 0;
    font-size: 20px;
    font-family: 'Satoshi', sans-serif;
}

.info-card-greet{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.info-p{
    padding: 12px;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
}

.info-p-2{
    padding: 12px;
    font-size: 18px;
    font-family: 'Satoshi', sans-serif;
    text-align: center;
}

.notif-card{
    padding: 12px;
    font-size: 18px;
    font-family: 'Satoshi', sans-serif;
    color: aqua;
}

.fun-fact-quest{
    padding: 12px;
    font-size: 18px;
}

.fun-fact-ans{
    padding: 12px;
    font-size: 18px;
}