:root {
    --height: 50px;
    --speed: 10s;
}

.ticker-tape {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
        helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    width: 100%;
    overflow: hidden;
    height: var(--height);
    padding-right: 100%;
}

.ticker-tape .ticker {
    height: var(--height);
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: ticker;
    -webkit-animation-duration: var(--speed);
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: var(--speed);
}

.stocks * {
    font-family: sans-serif;
    color: black;
}

.stocks>.card {
    position: relative;
}

#ticker {
    display: flex;
    align-items: center;
}

#ticker-tape {
    background-color: midnightblue;
}

#ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}

.ticker-tape .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 1.5rem;
    color: rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.ticker-tape-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #707070;
    padding: 7px 15px;
}

.head,
.change {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ticker-tape-item * {
    color: white;
}

.stockimg {
    height: 17px;
    width: 17px;
}

.ticker-tape-item>.change.up>span {
    color: rgb(27, 236, 27);
}

.ticker-tape-item>.change.down>span {
    color: rgb(236, 27, 27);
}