/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
  color: aqua;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #070707;
}

body >.container{
  /* border: 1px solid aqua; */
  height: 100vh;
  width: 100%;

}
.container > div{
 padding: 1rem;
}

.wrapper .carousel{
  float: right;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100%) - 30px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 12px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel{
  margin: 0.5rem;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
}
.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  height: 18rem;
  flex-direction: column;
  overflow-y: auto;
  color: #edeef0;
  background-color: #19191a;
  padding: 8px;
}

.wrapper-wrapper{
  outline: auto;
  outline-color: #68C5DB;
  float: right;    
  width: 60%;
  max-width: 500px;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  padding: 12px;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
} 

 @media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 12px);
  }
} 

@media screen and (max-width: 600px) {
   .wrapper .carousel {
    grid-auto-columns: 100%;
  } 
  .date-time-weather{
    width: 100%;
  }
}



/* to do list */
.todo-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 5px;
  justify-content: center;
  position: relative;
  color: aqua;
}

.todo-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* background: #edeef0; */
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  background-color: #7f7f835d;
  color:aqua;
}

.todo-body input {
  flex: 1;
  margin-right: 5px;
  height: auto;
  width:100%;
  border: none;
  outline: none;
   background: transparent; 
  padding: 15px 0;
  font-size: 20px;    
  color:aqua;
}
.todo-body input::placeholder{
  color: aqua;
}

.todo-body img {
  cursor: pointer;
  border-radius: 40px;
  height: 55px;
  width: 55px;
  padding: 2px;
  background: rgba(46, 246, 24, 0.7);
}

ul li {
  list-style: none;
  font-size: 18px;
  cursor: pointer;
}

h5 {
  text-align: center;
  margin-bottom: 10px;
  color: aqua;
}

.todo-controls {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 5px;
}

li {
  opacity: 0;
  animation: new-item-animation 0.3s linear forwards;
  font-family: 'JetBrains Mono', sans-serif;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-400px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toggleMe {
  animation: hideMe 5s forwards;
}

@keyframes hideMe {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.list-items {
  width: 100%; /* Ensure the list takes up full width */
  padding-left: 0; /* Remove default padding */
  color: aqua;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 600px) {
  .todo-input {
    flex-basis: 100%; /* Full width for input on smaller screens */
    margin-right: 0; /* Remove right margin for input on smaller screens */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
  }
}
.blocker{
  color: aqua;
  /* TODO : shalome fix this*/
}
.spotify-carousel{
  display: flex;
  justify-content: space-between;
}

.spotify {
  max-width: 300px;
}

.card > .container{
  display: flex;
  flex-direction: column;
  height: 3rem;
}

::-webkit-scrollbar{
  appearance: none;
  width: 8px;
}

::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: #000;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #121212;
}