.date-time-weather{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    color: white !important;
}


.date-time{
    display: flex;
}

.date-time-weather > div{
    background-color: #121212;
    text-align: center;
    border-radius: 10px;
    padding: 0.5rem;
}

/* date */

#date {
    font-weight: 600;
    margin-top: 0.25rem;
}

/* time */

#time {
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
}

#sec{
    font-size: 0.8rem;
}

/* weather */

#current{
    display: flex;
    margin-bottom: 1rem;
}

.col{
    display: flex;
    flex-direction: column;
}

#current_temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#temp{
    font-size: 1rem;
    font-weight: 700;
}

#feels-like{
    font-size: 1rem;
}

#current-weather-icon{
    height: 2rem;
    width: 2rem;
}

#daily-weather-container{
    max-height: 6rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#daily-weather-container::-webkit-scrollbar {
    display: none;
    appearance: none;
}

.daily-weather-icon{
    height: 1rem; 
    width: 1rem;
    fill: currentColor;
    color: #d1d5db;
}

.daily-data-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: end;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 0.75rem;
}

.bottom-divider{
    border-bottom: 1px solid ;
}